#rectangle556 {
    position: absolute;
    width: 123px;
    height: 124px;
    left: 282px;
    top: 851px;
    background: #000000;
}

#rectangle574 {
    position: absolute;
    width: 61px;
    height: 124px;
    left: 1136px;
    top: 851px;
    background: #000DFF;
}

#rectangle582 {
    position: absolute;
    width: 46px;
    height: 46px;
    left: 761px;
    top: 746px;
    background: #000DFF;
}

#rectangle611 {
    position: absolute;
    width: 61px;
    height: 59px;
    left: 707px;
    top: 792px;
    background: #FFFFFF;
}

#rectangle635 {
    position: absolute;
    width: 32px;
    height: 60px;
    left: 799px;
    top: 367px;
    background: #FFFFFF;
}

#rectangle579 {
    position: absolute;
    width: 61px;
    height: 123px;
    left: 587px;
    top: 244px;
    background: #000DFF;
}

#rectangle561 {
    position: absolute;
    width: 124px;
    height: 124px;
    left: 890px;
    top: 851px;
    background: #FFFFFF;
}

#rectangle645 {
    position: absolute;
    width: 62px;
    height: 121px;
    left: 1560px;
    top: 367px;
    background: #FFFFFF;
}

#rectangle602 {
    position: absolute;
    width: 61px;
    height: 61px;
    left: 587px;
    top: 427px;
    background: #FFFFFF;
}

#rectangle598 {
    position: absolute;
    width: 29px;
    height: 61px;
    left: 1275px;
    top: 296px;
    background: #FFFFFF;
}

#rectangle599 {
    position: absolute;
    width: 32px;
    height: 29px;
    left: 707px;
    top: 670px;
    background: #000DFF;
}

#rectangle683 {
    position: absolute;
    width: 24px;
    height: 22px;
    left: 897px;
    top: 679px;
    background: #000DFF;
}

#rectangle570 {
    position: absolute;
    width: 123px;
    height: 229px;
    left: 1499px;
    top: 851px;
    background: #FFFFFF;
}

#rectangle619 {
    position: absolute;
    width: 143px;
    height: 229px;
    left: 1622px;
    top: 851px;
    background: #000DFF;
}

#rectangle1097 {
    position: absolute;
    width: 158px;
    height: 120px;
    left: 1765px;
    top: 731px;
    background: #000000;
}

#rectangle551 {
    position: absolute;
    width: 121px;
    height: 122px;
    left: 1378px;
    top: 1px;
    background: #FFFFFF;
}

#rectangle556 {
    position: absolute;
    width: 122.81px;
    height: 124px;
    left: 281.56px;
    top: 851px;
    background: #000000;
}

#rectangle574 {
    position: absolute;
    width: 60.9px;
    height: 124px;
    left: 1134.23px;
    top: 851px;
    background: #000DFF;
}

#rectangle582 {
    position: absolute;
    width: 45.93px;
    height: 46px;
    left: 759.81px;
    top: 746px;
    background: #000DFF;
}

#rectangle611 {
    position: absolute;
    width: 60.9px;
    height: 59px;
    left: 705.9px;
    top: 792px;
    background: #FFFFFF;
}

#rectangle635 {
    position: absolute;
    width: 31.95px;
    height: 60px;
    left: 797.75px;
    top: 367px;
    background: #FFFFFF;
}

#rectangle579 {
    position: absolute;
    width: 60.9px;
    height: 123px;
    left: 586.08px;
    top: 244px;
    background: #000DFF;
}

#rectangle561 {
    position: absolute;
    width: 123.81px;
    height: 124px;
    left: 888.61px;
    top: 851px;
    background: #FFFFFF;
}

#rectangle645 {
    position: absolute;
    width: 61.9px;
    height: 121px;
    left: 1557.57px;
    top: 367px;
    background: #FFFFFF;
}

#rectangle602 {
    position: absolute;
    width: 60.9px;
    height: 61px;
    left: 586.08px;
    top: 427px;
    background: #FFFFFF;
}

#rectangle598 {
    position: absolute;
    width: 28.95px;
    height: 61px;
    left: 1273.01px;
    top: 296px;
    background: #FFFFFF;
}

#rectangle599 {
    position: absolute;
    width: 31.95px;
    height: 29px;
    left: 705.9px;
    top: 670px;
    background: #000DFF;
}

#rectangle683 {
    position: absolute;
    width: 23.96px;
    height: 22px;
    left: 895.6px;
    top: 679px;
    background: #000DFF;
}

#rectangle570 {
    position: absolute;
    width: 122.81px;
    height: 229px;
    left: 1496.66px;
    top: 851px;
    background: #FFFFFF;
}

#rectangle619 {
    position: absolute;
    width: 142.78px;
    height: 229px;
    left: 1619.47px;
    top: 851px;
    background: #000DFF;
}

#rectangle1097 {
    position: absolute;
    width: 157.75px;
    height: 120px;
    left: 1762.25px;
    top: 731px;
    background: #000000;
}

